body {
  font: 14px "Century Gothic", Futura, sans-serif;
}

.movie-cover {
	position: relative;
	align-content: center;
	width: 250;
	height: 300;
	margin: 35px;
	margin-top: 70px;
}
.movie-cover img {
	position:absolute;
	top:0;
	left:0;
}
.titleBanner {
	background-color: purple;
	color: white;
	font-size: 18px;
	padding: 20px;
	width: 100%;
	position: fixed;
  	left: 0;
  	top: 0;
  	z-index: 10;
}
.align {
	align-content: center;
}
.mar_side {
	margin-left: 12px;
	margin-right: 12px;
}
.noBorder {
	border: 0px solid transparent; 
}
.heading {
    /* Over flow hidden hides the text if it is more than N lines  */
    overflow: hidden;
    /* To set '...' in absolute position */
    position: relative;
    /* Use this value to count block height */
    line-height: 1.2em;
    /* Max-height = line-height (1.2) * lines max number (2) */
    max-height: 1.2em;
    /* If the last visible word doesn't adjoin right side then this will fix the problem */
    text-align: center !important;
    /* place for '...' */
    padding-right: 20px;
    padding-left: 1em;
    font: 8px "Century Gothic", Futura, sans-serif;
}
.heading:before {
    /* points in the end */
    content: "...";
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 20px;
    bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.heading:after {
    /* points in the end */
    content: "";
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 20px;
    /* set width and height */
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    /* bg color = bg color under block */
    background: white;
}
.border {
	border: 1px solid black;
}